{{#if hasResults}}
	<div class="well"><h3>Found {{total_count}} file(s)</h3></div>
	<div class="list-group">
		{{#each items}}
			<a class="list-group-item" href="{{html_url}}" target="_blank">
				{{name}} - {{path}}
			</a>
		{{/each}}
	</div>
{{else}}
	<div class="well"><h3>No results found</h3></div>
{{/if}}


